
   body {
     margin: 0;
   } 
   .header {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
   }

   ul li {
     list-style: none;
     float: left;
     line-height: 70px;
   }

   i.material-icons:hover{
     background-color: darkgray;
   }